
<nav class="row col-12 mx-auto text-center">
    <div class="col">
        <a href="/Home/Homepage">Homepage</a>
    </div>
    <div class="col text-center">
        <a href="/Product/List">Products</a>
        <!--HEre would be a good place for a view model containing all the product categories-->
        <div id="categories" class="">
            <a href="/Page1">Home</a><br />
            <a href="/Accessories/Page1">Accessories</a><br />
            <a href="/Cleaning%20Liquids/Page1">Cleaning Liquids</a><br />
            <a href="Clothing/Page1">Clothing</a><br />
            <a href="Window%20Cleaning/Page1">Window Cleaning</a><br />

        </div>
    </div>
    <div class="col">
        <a href="/Order/List">Orders</a>
    </div>
    <div class="col">
        <a href="/Home/Contact">Contact Us</a> <br />
        <a href="/Home/Peabody">Peabody 5000 User Guide</a>
    </div>
    <div class="col">
        <a href="/Home/About">About</a>
    </div>
    <div class="col">
        <a href="/Account/Login">Login</a>
    </div>
</nav>
