@model

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Employee Test = new Employee("Mr", "Rocky", "303-314-1551", "CEO and President");
}

    <!--TODO: Use a tag helper for this crap smh-->
    <div class="text-center">
        <h2>About Us</h2>
        <h3>Executives</h3>
        <div>
            <AboutEmployee employee="Test"></AboutEmployee>
            <div class="col-2 d-inline-block">
                <p class="m-0">Nikola Jokic</p>
                <p class="m-0">Vice President</p>
            </div>
            <div class="col-2 d-inline-block">
                <p class="m-0">Jamal Murray</p>
                <p class="m-0">CFO</p>
            </div>
            <div class="col-2 d-inline-block">
                <p class="m-0">Gary Harris</p>
                <p class="m-0">CTO</p>
            </div>
        </div>

        <h3>Sales Staff</h3>
        <div>
            <div class="col-3 d-inline-block">
                <p class="m-0">Monte Morris</p>
                <p class="m-0">Sales Team Leader</p>
            </div>
            <div class="col-3 d-inline-block">
                <p class="m-0">Malik Beasley</p>
                <p class="m-0">Traveling Salesman</p>
            </div>
            <div class="col-3 d-inline-block">
                <p class="m-0">Mason Plumlee</p>
                <p class="m-0">Sales Intern</p>
            </div>
        </div>
        <h3>What We Believe</h3>



    </div>

