
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>About Us</h2>
    <div>
        <p class="col-2">President and CEO</p>
        <p class="col-2">Vice President</p>
        <p class="col-2">CFO</p>
        <p class="col-2">CTO</p>
    </div>
  
    <h3>Sales Staff</h3>
    <div >
        <div class="col-3">Monte Morris</div>
        <div class="col-3">Malik Beasley</div>
        <div class="col-3">Mason Plumlee</div>
    </div>
   


</div>

