

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model EmployeeListViewModel;
}

    <!--TODO: Use a tag helper for this crap smh-->
    <div class="text-center">
        <h2>About Us</h2>
        <h3>Executives</h3>
        <div>
            @*<AboutEmployee employee=@Test></AboutEmployee>*@
            @foreach (var p in Model.Employee)
            {
              <AboutEmployee employee="@p"></AboutEmployee> 
            }
        </div>


        </div>

