
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section Styles
        {
        <link rel="stylesheet" href="~/lib/Stylesheets/Homepage.css"  type="text/css">
            
        
    }
}

        <div class="mx-auto d-block text-center align-middle bg">
            <h2 class="">Welcome to Rockey's Cleaning Supplies</h2>
            <p>Windows so clean you will run into them!</p>
            <a class="btn-lg btn-primary" href="/Product/List">View our Products!</a>
        </div>


