@model Customer
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <div class="">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Become a registered customer!<br /><small>It's free!</small></h3>
                </div>
                <div class="panel-body">
                    <form asp-controller="Account" asp-action="Signup" method="post">
                        <input type="hidden" asp-for="CustomerID" />
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                                    <input asp-for="FirstName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                                    <input asp-for="LastName" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <div><span asp-validation-for="Username" class="text-danger"></span></div>
                            <input asp-for="Username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <div><span asp-validation-for="Email" class="text-danger"></span></div>
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                                    <input asp-for="Password" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>